.Player {
    height: calc(22vh - 2em);
    padding: 1em;
    text-align: left;
    display: flex;
    flex-flow: column;
    overflow: hidden;
}

.Player .Playing {
    margin: 0.1em 0;
    font-weight: lighter;
    color: #333333;
}

.PlayerAudio {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
