.SocketList {
    width: calc(20% - 2em);
    height: 70vh;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #333;
    float: left;
}

.SocketList .Socket {
    width: calc(100% - 4em);
    padding: 1em 2em;
    font-size: 0.9em;
    color: #f0f8ff;
    border-top: 1px solid #000;
}

.SocketList .Socket.Current {
    background-color: #666;
}

.SocketList .Socket.Playing {
    color: #adff2f;
}

.SocketList .Socket.Origin {
    color: #7fffd4;
}
